{% extends 'base.html.twig' %}
{% block main %}

	<div class="px-5 w-1/2 mt-5 mb-5 mx-auto border-2 bg-blue-500 py-5">
		<div class="titre">
			<h1 class="text-white mb-5 pb-3 text-4xl text-center font-bold border-b-2 border-stone-50">
				Ajouter un client
			</h1>
			<img src="" alt=""/>
		</div>

		{{ form_start(formClient) }}
		{{ form_row(formClient.surnom) }}
		{{ form_row(formClient.adresse) }}
		{{ form_row(formClient.telephone) }}
		<div class="flex items-center w-1/4 bg-black">
			<h2 class="mr-5 text-black text-lg font-bold">créer compte :</h2>
			<label class="switch mr-5">
				<input type="checkbox" class="checkbox" id="toggleSwitch" name="toggleSwitch" {% if app.request.get('toggleSwitch') == 'on' %} checked {% endif %}>
				<div class="slider"></div>
			</label>
			<h2 class="mr-5 text-black text-lg font-bold">oui</h2>
		</div>

		<div id="userSwitch">
			<h2 class="text-white mb-5 pb-3 mt-5 text-2xl border-b-2 border-neutral-50 font-bold text-center">
				création compte utilisateur :
			</h2>
			{{ form_row(formClient.users.nom) }}

			{{ form_row(formClient.users.prenom) }}

			{{ form_row(formClient.users.login) }}

			{{ form_row(formClient.users.password) }}

			<div class="hidden">
				{{ form_row(formClient.users.save) }}
			</div>


			<div class="grid w-full max-w-xs items-center gap-1.5">
				{{ form_row(formClient.users.brochure) }}

			</div>

		</div>

		<div class="flex justify-end">
			{{ form_row(formClient.save) }}
		</div>

		{{ form_end(formClient) }}
	</div>

{% endblock %}
